body {
    background-color: #FFB30C;
}

.mainlogo{
    margin-top: 50%;
}


.imglogo{
    width: 90%;
}

.btn-start {
    background-color: #252525;
    border-radius: 20px;
    color: white;
    margin-top: 50%;
    width: 40%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: Spartan;
}

a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

a{
    text-decoration: none;
    color: inherit;
}